<div class="p-4 sm:ml-64 dark:bg-gray-800 min-h-screen">
    <section class="text-gray-600 body-font">
        <div class="container px-5 py-24 mx-auto">
            <%= form_with model: @client, multipart: true do |f| %>
                <div class="flex flex-col text-center w-full mb-10">
                    <h1><%= f.label title, class: "sm:text-3xl text-2xl font-medium title-font mb-4 text-gray-900 dark:text-white"%></h1>  
                </div>
                <div class="grid gap-6 mb-6 md:grid-cols-2">
                    <div>
                        <%= f.label :Nombre, class: "block mb-2 text-sm font-medium text-gray-900 dark:text-white" %>
                        <%= f.text_field :name, class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500", placeholder: "Ingresa el nombre del cliente", pattern: "[a-zA-Zá-úÁ-Ú\s]*", required: true %>
                    </div>
                    <div>
                        <%= f.label :"Descripción del trabajo", class: "block mb-2 text-sm font-medium text-gray-900 dark:text-white" %>
                        <%= f.text_field :work_description, class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500", placeholder: "Ingresa la descripción del trabajo que se va a realizar", required: true %>
                    </div>                 
                    <div>
                        <%= f.label :"Pago inicial", class: "block mb-2 text-sm font-medium text-gray-900 dark:text-white" %>
                        <%= f.number_field :initial_payment, class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500", placeholder: "Ingresa el pago inicial dado por el cliente", oninput: "this.value = this.value.replace(/[^0-9]/g, '')", required: true %>
                    </div>
                    <div>
                        <%= f.label :"Total a pagar", class: "block mb-2 text-sm font-medium text-gray-900 dark:text-white" %>
                        <%= f.number_field :total_pay, class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500", placeholder: "Ingresa el total a pagar por el trabajo", oninput: "this.value = this.value.replace(/[^0-9]/g, '')", required: true %>
                    </div>
                    <div>
                        <%= f.label :Teléfono, class: "block mb-2 text-sm font-medium text-gray-900 dark:text-white" %>
                        <%= f.number_field :telephone, class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500", placeholder: "123-456-7890", oninput: "this.value = this.value.slice(0, 10).replace(/[^0-9]/g, '')", title: "El teléfono debe tener 10 dígitos", required: true %>
                    </div>
                    <div>
                        <%= f.label :Dirección, class: "block mb-2 text-sm font-medium text-gray-900 dark:text-white" %>
                        <%= f.text_field :address, class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500", placeholder: "Ingresa la dirección del cliente", required: true %>
                    </div>
                    <div>
                        <%= f.label :"Fecha de inicio", class: "block mb-2 text-sm font-medium text-gray-900 dark:text-white" %>
                        <%= f.date_field :start_date, class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500", placeholder: "Ingresa la fecha en que se inicio el trabajo", required: true %>
                    </div>
                    <div>
                        <%= f.label :"Fecha a entrgar", class: "block mb-2 text-sm font-medium text-gray-900 dark:text-white" %>
                        <%= f.date_field :end_date, class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500", placeholder: "Ingresa la fecha prevista para terminar el trabajo", required: true %>
                    </div>
                </div>
                <h3 class="mb-4 text-sm font-semibold text-gray-900 dark:text-white">Status del trabajo</h3>
                <div class="flex items-center mb-4">
                    <%= f.radio_button :status, "Process", class: "w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600", checked: true, id: "default-radio-1" %>
                    <label for="default-radio-1" class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">Proceso</label>
                </div>
                <div class="flex items-center mb-4">
                    <%= f.radio_button :status, "Finished", class: "w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600", id: "default-radio-2" %>
                    <label for="default-radio-2" class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">Terminado</label>
                </div>
                <div class="flex flex-col sm:flex-row sm:space-x-5 space-y-5 sm:space-y-0"> 
                    <%= f.submit submit_button_text, class: "p-2 flex justify-center items-center gap-2 h-12 cursor-pointer rounded-md shadow-2xl text-white font-semibold bg-gradient-to-r from-[#28B8D5] via-[#155E8D] to-[#075760] hover:shadow-xl hover:shadow-blue-500 hover:scale-105 duration-300 hover:from-[#075760] hover:to-[#28B8D5]" %>
                    <%= link_to "Cancelar", clients_path, class: "p-5 flex justify-center items-center gap-2 h-12 cursor-pointer rounded-md shadow-2xl text-white font-semibold bg-gradient-to-r from-[#f87171] via-[#ef4444] to-[#dc2626] hover:shadow-xl hover:shadow-red-500 hover:scale-105 duration-300 hover:from-[#dc2626] hover:to-[#f87171]" %>
                </div>
            <% end %>
        </div>
    </section>
</div>
